h1{
    text-align: center;
}
.g2{
     border: none; 
     background-color: black; 
     height: 5px;
}

hr{
    border: none;
    background-color: black;
    height: 2px;
}
.x2{
    font-size: 200px;
}
