html {
    overscroll-behavior: none;
    display: flex-wrap wrap;
    color: pink;
    background-color: black;
}

h1 {
    text-align: center;
    animation: text 3s ease-in-out infinite;
}

/*@keyframes text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}*/ 

.g2 {
    border: none;
    background-color: black;
    height: 5px;
}

hr {
    border: none;
    background-color: black;
    height: 2px;
}

.x2 {
    font-size: 200px;
}

.bloc {
    width: 40%;
    height: 40%;
    animation: text 3s ease-in-out infinite;
}
/*@keyframes text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}*/

img {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    margin-left: 5%;
}

body {
    background-image: url(../../../Images/🤎💛.jpg);
    background-size: linear-gradient(135deg, #2c0233, #660377);
}

nav ul li {
    list-style: none;
    display: inline block;
    margin-right: 10px;
    padding: 5px;
}

nav ul {
    display: flex;
    padding-left: 10px;
    border-radius: 60px;
    /*background: rgb(0, 0, 0, 0.5);*/
    /*backdrop-filter: blur(15px);*/
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 20%;

}

nav ul li a {
    text-decoration: none;
    color: rgb(225, 226, 233);
    /*position: relative;*/
    padding: 15px 20px;
    /*background: rgb(0, 0, 0, 0.5);*/
    border-radius: 60px;
    /*border: #67066e solid 0.5px;
  backdrop-filter: blur(15px);
  box-shadow: 0 15px 35px rgb(0, 0, 0, 0.5);*/
    margin: 0 10px;
    animation: neonPulse 1.5s ease-in-out infinite alternate;
}

@keyframes neonPulse {
    0% {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
    }
    100% {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
    }
}

.info-complementaires {
    text-align: center;
    position: relative;
    padding: 15px 20px;
    animation: text 3s ease-in-out infinite;
}
/*@keyframes text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}*/
* {
    box-sizing: border-box;
    font-family: 'popping', sans-serif;
    animation: text 3s ease-in-out infinite;
}
@keyframes text {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}


.info {
    gap: 20px;
    padding: 0 3%;
    margin-bottom: 1%;
    position: relative;
    z-index: 1;
}

.background {
    display: flex;
}

.g2 {
    border: none;
    background-color: black;
    height: 5px;
}
